.DS_Store
.fact_cache/

/files/fonts/*
.DS_Store

/inventory/*
!/inventory/example.ini

/hosts/*
!/hosts/example.ini

/group_vars/*
!/group_vars/all/vars.yml

/host_vars/*
!/host_vars/.gitkeep

.ansible
.vagrant

testing/keycontainer
testing/keycontainer.pub

roles/testing